body {
    background: #6610f2;
}

.card {
    box-shadow: rgb(37, 37, 37) 1px 1px 8px;
}

.lista-size {
    /* max-height: 400px; */
    height: 600px;
}

/* dentro class="list-group" */ 
.list-group li:hover, label:hover {
    background: #EEE;
    cursor: pointer;
}